.counter-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.count-display {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button {
  font-size: 1.5em;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  cursor: pointer;
  background-color: #62903d;
  border: none;
  border-radius: 5px;

}

.counter-button:hover {
  background-color: #4e732c;
}